.slideshow {
  position: relative;
  overflow: hidden;
  margin: 0;
  height: 100vh;
  width: 100%;
  height: calc(100vh - 10rem);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 0.5%;
  grid-template-rows: 100%;
  grid-template-areas: "... slide ...";
}
@media screen and (min-width: 53em) {
  .slideshow {
    height: 100vh;
    grid-template-columns: 27% 27% 27%;
    grid-column-gap: 9.5%;
  }
}
